* {
  margin: 0;
  padding: 0;
}
#menu_text {
  background-color: pink;
  color: red;
  text-align: center;
  padding: 80px;
}
nav {
  background-color: green;
  overflow: hidden;
}
nav a {
  color: white;
  padding: 14px 20px;
  display: block;
  text-align: center;
  text-decoration: none;
}
nav a.menu_left {
  float: left;
}
nav a.menu_right {
  float: right;
}
